.home {
    background: #040407;
}
.fixed-header {
    background-color: rgba(255, 255, 255, .05) !important;
    backdrop-filter: blur(6px);
    z-index: 999999;
    .modile-enter-app-box {
        border-top: 1px solid #edeef1;
        padding: 1rem 0;
    }
    a>.moblie-menu-text {
        color: #FFFFFF;
        padding: 0.75rem 0;
    }
    a>.MuiTypography-h6 {
        color: #FFFFFF;
        transition: color .2s ease-in-out;
        margin-left: 3rem;
        &:hover {
            color: #ccd2d4;
        }
    }
    .header-btn {
        background-color: #ffc768;
        border-radius: 27px;
        color: #000;
        font-weight: bold;
        transition: color .2s ease-in-out,background-color .2s ease-in-out;
        &:hover {
            background-color: #eeb657;
        }
    }
    .menu-icon {
        font-size: 2rem;
    }
    .menu-icon-close {
        width: 2em;
    }
}
.header-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    box-sizing: border-box;
}
#menu-appbar {
    a>.MuiTypography-body1 {
        color: #000;
        &:hover {
            color: #000;
        }
    }

}

.social-link {
    img {
        width: 2.2rem;
        object-fit: cover;
        margin-right: 2.2rem;
    }
    a:last-child img{
        margin-right: 0;
    }
}
.bottom {
    background: #040407 url("../../assets/images/eclipse.png") no-repeat;
    background-size: 160% auto;
    background-position: top;
    .bottom-title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 800;
        font-size: 4rem;
        text-align: center;
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding-top: 3rem;
    }
    .header-left {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    a>.MuiTypography-h6 {
        color: #FFFFFF;
        transition: color .2s ease-in-out;
        margin-left: 3rem;
        &:hover {
            color: #ccd2d4;
        }
    }
    &.isMobile {
        .header-left {
            display: block;
            margin-bottom: 1.5rem;
        }
        a>.MuiTypography-h6 {
            margin-left: 0;
            margin-bottom: 1rem;
        }
        .bottom-title {
            font-size: 2rem;
            font-family: 'PingFang SC';
            line-height: 2.1rem;
        }
    }
}