.block1 {
    width: 100%;
    min-height: 100vh;
    overflow: inherit;
    // background-image: linear-gradient(130deg,rgb(30, 8, 61),rgb(9, 10, 13) 35%);
    background: #000;
    position: relative;
    .meta-img {
        display: block;
        width: 600px;
        object-fit: contain;
        margin-bottom: 4rem;
    }
    .tng-text {
        display: block;
        width: 542px;
        font-family: 'PingFang SC';
        font-weight: 800;
        font-size: 42.5808px;
        line-height: 46px;
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 4rem;
    }

    .bitcoin-img {
        width: 560px;
        object-fit: contain;
    }
    .mbtc-txt {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, #4ED1C2 0%, #6A2595 124.69%);
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 800;
        font-size: 42.5808px;
        line-height: 46px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        text-align: center;
        height: 70px;
        line-height: 70px;
    }
    .block-left {
        position: relative;
    }
    .coin-vedio {
        width: 100%;
        position: absolute;
        right: 0;
        top: 15%;
        max-width: 1080px;
    }
    

    &.economy {
        min-height: 44rem !important;
        background: #000000;
    }
}
.block2 {
    width: 100%;
    min-height: 100vh;
    background: #040407;
    font-family: 'PingFang SC';
    position: relative;
    overflow: hidden;
    .diamond-img {
        width: 1000px;
        object-fit: cover;
        max-height: 100vh;
        position: relative;
        z-index: 100;
    }
    .block-right {
        width: 55%;
        z-index: 100;
    }
    .wimb-text {
        width: 534px;
        height: 156px;
        font-weight: 800;
        font-size: 85.2883px;
        line-height: 78px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        position: relative;
        margin-bottom: 4rem;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            bottom: -1rem;
            height: 5px;
            background: linear-gradient(90deg, #AF68FC 0%, #F3976C 100%);
            border-radius: 2px;
        }
    }
    .bitcoin-list {
        font-style: normal;
        font-weight: 500;
        font-size: 16.5px;
        line-height: 28px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        margin-bottom: 4rem;
        list-style: none;
        padding: 0;
        li {
            padding-left: 66px;
            position: relative;
            margin-bottom: 1.5rem;
            &:before {
                content: "";
                display: block;
                width: 66px;
                height: 66px;
                position: absolute;
                left: -10px;
                top: -10px;
                background: url("../../assets/images/star.png") center no-repeat;
                background-size: cover;

            }
        }
    }
    .download-btn {
        font-style: normal;
        font-weight: 800;
        font-size: 22.1848px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        border-radius: 10px;
        background: linear-gradient(91.96deg, #66018C 19.85%, #6301DC 87.84%);
        transition: all .2s ease-in-out;
        &:hover {
            background: linear-gradient(91.96deg, #5a017b 19.85%, #5b01cb 87.84%);
        }
    }
}
.block3 {
    background: #040407;
    font-family: 'PingFang SC';
    overflow: hidden;
    padding-bottom: 5rem;
    .block-card {
        display: block;
        height: 400px;
        border-radius: 15px;
        transition: .2s ease-in-out;
        cursor: pointer;
        .card-title {
            font-size: 2rem;
            font-family: PingFang SC;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 45px;
            padding: 1rem 1.6rem;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    .block-title {
        font-size: 3rem;
        font-family: PingFang SC;
        font-weight: 800;
        color: #FFFFFF;
        line-height: 220px;
    }
    .block-partner {
        background: #1E1E1E;
        border: 1px solid #D39B33;
        box-sizing: border-box;
        border-radius: 20px;
        height: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        .partner-logo {
            width: 80%;
            max-height: 80px;
            object-fit: contain;
        }
    }
    .block-todo {
        padding: 2rem;
        height: 100%;
        box-sizing: border-box;
        .todo-title {
            font-size: 1.4rem;
            font-family: PingFang SC;
            font-weight: 800;
            color: #FFFFFF;
            line-height: 38px;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            font-size: 1rem;
            font-family: PingFang SC;
            font-weight: bold;
            color: #EDEDED;
            line-height: 39px;
            text-decoration: none;
            list-style: none;
            position: relative;
            padding-left: 1.5rem;
            &:before {
                content: "";
                display: block;
                width: 1rem;
                height: 1rem;
                background: url("../../assets/images/todo.png") center no-repeat;
                background-size: 100%;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &.done {
                &:before {
                    content: "";
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    background: url("../../assets/images/done.png") center no-repeat;
                    background-size: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
    .roadmap {
        .MuiGrid-item:nth-child(1) {
            box-sizing: border-box;
            padding: 0px 0px 2px 2px;
            border-radius: 0 0 0 50px;
            background-image: linear-gradient(to right, #D39B33 0%, #A033D3 100%);
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: -10px;
                top: 4px;
                z-index: 99;
            }
            .block-todo {
                background: #040407;
                border-radius:  0 0 0 50px;
                outline: #040407 dashed 3px;
                position: relative;
                padding-top: 0;
               
            }
        }
        .MuiGrid-item:nth-child(2) {
            box-sizing: border-box;
            padding: 0px 0px 2px 0px;
            background: #A033D3;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: -12px;
                top: 4px;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: -7px;
                bottom: -8px;
                z-index: 9999;
            }
            .block-todo {
                background: #040407;
                outline: #040407 dashed 3px;
                position: relative;
                padding-top: 0;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: calc(100% - 16px);
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
               
            }
        }
        .MuiGrid-item:nth-child(3) {
            box-sizing: border-box;
            padding: 0px 0px 0 0px;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: -12px;
                top: 4px;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: -7px;
                z-index: 9999;
                bottom: -8px;
            }
            .block-todo {
                background: #040407;
                outline: #040407 dashed 3px;
                position: relative;
                padding-top: 0;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: calc(100% - 16px);
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
               
            }
        }
        .MuiGrid-item:nth-child(6) {
            box-sizing: border-box;
            padding: 2px 2px 2px 0px;
            border-radius: 0 50px 50px 0;
            background: #A033D3;
            position: relative;
            z-index: 999;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: -12px;
                top: 2.5rem;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: -7px;
                bottom: -8px;
            }
            .block-todo {
                background: #040407;
                outline: #040407 dashed 3px;
                position: relative;
                border-radius: 0 50px 50px 0;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: 0;
                    top: 2.5rem;
                    bottom: 0;
                }
               
            }
        }
        .MuiGrid-item:nth-child(5) {
            z-index: 999;
            box-sizing: border-box;
            padding: 0px 0px 2px 0px;
            background: #A033D3;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: -12px;
                top: 2.5rem;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: -7px;
                bottom: -8px;
                z-index: 99;
            }
            .block-todo {
                background: #040407;
                outline: #040407 dashed 3px;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: 0;
                    top: 2.5rem;
                    bottom: 0;
                }
               
            }
        }
        .MuiGrid-item:nth-child(4) {
            box-sizing: border-box;
            padding: 0px;
            background: #A033D3;
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: 2rem;
                top: 2.5rem;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: calc(2rem + 3px);
                bottom: -8px;
                z-index: 99;
            }
            .block-todo {
                padding-left: 5rem;
                background: #040407;
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: calc(2rem + 10px);
                    top: 2.5rem;
                    bottom: 0;
                }
               
            }
        }
        .MuiGrid-item:nth-child(7) {
            box-sizing: border-box;
            padding: 2px 0px 2px 2px;
            border-radius: 50px 0 0 50px;
            background: #A033D3;
            position: relative;
            margin: -2px;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: 2rem;
                top: 2.5rem;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: calc(2rem + 3px);
                bottom: -6px;
            }
            .block-todo {
                background: #040407;
                outline: #040407 dashed 3px;
                position: relative;
                border-radius: 50px 0 0 50px;
                padding-left: 5rem;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: calc(2rem + 9px);
                    top: 2.5rem;
                    bottom: 0;
                }
               
            }
        }
        .MuiGrid-item:nth-child(8) {
            box-sizing: border-box;
            padding: 0px 0px 2px 0;
            background: #A033D3;
            position: relative;
            margin: -2px;
            left: -4px;
            &::before {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #040407;
                left: 2rem;
                top: 2.5rem;
                z-index: 99;
            }
            &::after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                box-sizing: border-box;
                border: 2px solid #D39B33;
                border-radius: 50%;
                position: absolute;
                background: #D39B33;
                left: calc(2rem + 5px);
                bottom: -6px;
            }
            .block-todo {
                background: #040407;
                outline: #040407 dashed 3px;
                position: relative;
                padding-left: 5rem;
                &::before {
                    content: "";
                    display: block;
                    width: 1px;
                    box-sizing: border-box;
                    background: #D39B33;
                    position: absolute;
                    left: calc(2rem + 12px);
                    top: 2.5rem;
                    bottom: 0;
                }
               
            }
        }
    }
}
.block4 {
    background: #000000;
    font-family: 'PingFang SC';
    font-style: normal;
    .card-text {
        font-weight: 800;
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: -0.055em;
        color: #FFFFFF;
        margin-bottom: 1rem;
    }
    .card-info {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #FFFFFF;
        text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    }
    .card-img {
        width: 95%;
        object-fit: cover;
    }
}
.block5 {
    background: #040407;
    font-family: 'PingFang SC';
    font-style: normal;
    min-height: calc(100vh - 300px);
    .foundation-bg {
        background: url("../../assets/images/golden-bitcoin.png") no-repeat;
        background-position: calc(100% - 3rem) 13rem;
        background-size: 400px;
    }
    .gradient-text {
        font-weight: 800;
        font-size: 2.5rem;
        line-height: 46px;
        letter-spacing: -0.04em;
        background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        padding-top: 3rem;
        padding-bottom: 2rem;
        font-family: PingFang SC;
    }
    .normal-text {
        padding-left: 2rem;
        font-weight: 500;
        font-size: 1rem;
        line-height: 41px;
        color: #FFFFFF;
        font-family: PingFang SC;
        max-width: 60%;
    }
    .board-list {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        .board-card {
            width: 13.5%;
            overflow: hidden;
            border-radius: 5px;
            background: #040407;
            img {
                width: 100%;
                min-height: 200px;
                border-radius: 10px;
                &.occupy-img {
                    background: #040407;
                    outline: none;
                    border: none;
                }
            }
            .MuiCardContent-root {
                padding: 0;
                color: #FFFFFF;
                .MuiTypography-h6 {
                    padding-top: 0.2rem;
                    font-size: 1rem;
                    line-height: 2rem;
                    font-family: "PingFang SC";
                }
                .MuiTypography-body2 {
                    font-family: "PingFang SC";
                }
            }
        }
    }
}